<div
  class="reset-card-container"
  fxLayout="column"
  fxLayoutAlign="center"
>
  <mat-card class="reset-card">
    <mat-card-header> <mat-card-title>Reset your password</mat-card-title></mat-card-header>
    <mat-card-content>
      <form
        [formGroup]="resetForm"
        fxLayout="column"
        fxLayoutAlign="center stretch"
      >
      <mat-form-field>
        <mat-label>New password</mat-label>
        <input matInput type="password" formControlName="password" />
      </mat-form-field>
      <mat-form-field>
          <mat-label>Retyped new password</mat-label>
          <input matInput type="password" formControlName="passwordConfirm" />
        </mat-form-field>
     </form>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="primary" (click)="onSubmit()">
        Reset
      </button>
    </mat-card-actions>
  </mat-card>
  <button class="message" mat-button color="primary" disabled [innerText]="message"></button>
</div>