<div
  class="reset-card-container"
  fxLayout="column"
  fxLayoutAlign="center"
>
  <mat-card class="reset-card">
    <mat-card-header> <mat-card-title>Get a password reset code</mat-card-title></mat-card-header>
    <mat-card-content>
      <form
        [formGroup]="resetPasswordRequestForm"
        fxLayout="column"
        fxLayoutAlign="center stretch"
      >
      <mat-form-field>
        <mat-label>Your email</mat-label>
        <input matInput type="text" formControlName="email" />
      </mat-form-field>
     </form>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="primary" (click)="onSubmit()">
        Get code
      </button>
    </mat-card-actions>
  </mat-card>
  <button class="message" mat-button color="primary" disabled [innerText]="message"></button>
</div>