.verification-card {
    width: 30%;
    margin: 0 auto;
}

.verification-card-container {
    min-height: 100vh;
}

.message-span{
    padding-left: 5vw;
    font-weight: bold;
    color: indigo;
    font-size: larger;
}
