<div
  class="verification-card-container"
  fxLayout="column"
  fxLayoutAlign="center"
>
  <mat-card class="verification-card">
    <mat-card-header> <mat-card-title>Verify your account</mat-card-title></mat-card-header>
    <mat-card-content>
      <form
        [formGroup]="verificationForm"
        fxLayout="column"
        fxLayoutAlign="center stretch"
      >
        <mat-form-field>
          <mat-label>Verification token</mat-label>
          <input matInput type="text" formControlName="token"/>
        </mat-form-field>
     </form>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="primary" (click)="onSubmit()">
        Verify
      </button>
    </mat-card-actions>
  </mat-card>
  <button class="message" mat-button color="primary" disabled [innerText]="message"></button>
</div>