.example-fill-remaining-space {
    /* This fills the remaining space, by using flexbox. 
       Every toolbar row uses a flexbox row layout. */
    flex: 1 1 auto;
}

.wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 0.75fr 0.75fr;
    padding-left: 15vw;
    padding-top: 5vh;
    padding-bottom: 5vh;
  }

.predict-button{
    margin-left: 7vw;
    padding-top: 1vh;
    padding-bottom: 1vh;
}

.reload-button{
    margin-left: 2vw;
}

.label-span{
    font-weight: bold;
    color: indigo;
    font-size: larger;
    margin-left: 1vw;
}