<div>
    <mat-toolbar color="primary">
        <span>MNIST classifier</span>
      
        <!-- This fills the remaining space of the current row -->
        <span class="example-fill-remaining-space">
            <a class="reload-button" mat-flat-button color="accent" (click)="reloadDigits()">Reload digits</a>
        </span>
      
        <button mat-raised-button color="accent" (click)="logout()">Logout</button>
      </mat-toolbar>
      <div class="wrapper">
        <div>
            <div>
                <plotly-plot [data]="graph1.data" [layout]="graph1.layout"></plotly-plot>
            </div>
            <div>
                <button class="predict-button" mat-raised-button color="primary" (click)="onSubmit(0)">
                    Predict
                </button>
                <span class="label-span" [innerText]="labels[0]">
                </span>
            </div>
        </div>
        <div>
            <div>
                <plotly-plot [data]="graph2.data" [layout]="graph2.layout"></plotly-plot>
            </div>
            <div>
                <button class="predict-button" mat-raised-button color="primary" (click)="onSubmit(1)">
                    Predict
                </button>
                <span class="label-span" [innerText]="labels[1]">
                </span>
            </div>
        </div>
        <div>
            <div>
                <plotly-plot [data]="graph3.data" [layout]="graph3.layout"></plotly-plot>
            </div>
            <div>
                <button class="predict-button" mat-raised-button color="primary" (click)="onSubmit(2)">
                    Predict
                </button>
                <span class="label-span" [innerText]="labels[2]">
                </span>
            </div>
        </div>
        <div>
            <div>
                <plotly-plot [data]="graph4.data" [layout]="graph4.layout"></plotly-plot>
            </div>
            <div>
                <button class="predict-button" mat-raised-button color="primary" (click)="onSubmit(3)">
                    Predict
                </button>
                <span class="label-span" [innerText]="labels[3]">
                </span>
            </div>
        </div>
      </div>
</div>

