<div
  class="authentication-card-container"
  fxLayout="column"
  fxLayoutAlign="center"
>
  <mat-card class="authentication-card">
    <mat-card-header> <mat-card-title>Login</mat-card-title></mat-card-header>
    <mat-card-content>
      <form
        [formGroup]="loginForm"
        fxLayout="column"
        fxLayoutAlign="center stretch"
      >
        <mat-form-field>
          <mat-label>Email</mat-label>
          <input matInput formControlName="email" required/>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Password</mat-label>
          <input matInput type="password" formControlName="password" required/>
        </mat-form-field>
      </form>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="primary" (click)="onSubmit()">
        Login
      </button>
      <button mat-button routerLink="/register" routerLinkActive="active">
        Don't have an account? Register here.
      </button>
    </mat-card-actions>
  </mat-card>
  <button class="forgot-password-link" mat-button color="accent" routerLink="/password/forgot">Forgot password?</button>
</div>